label {
  color: #435960;
  font-weight: bold;
}
.line {
  padding: .4em .8em;
  line-height: 1em;
  text-align: left;
}
.head {
  background-color: #409091;
  font-weight: bold;
  font-size: large;
}
