.badge {
  display: inline-block;
  padding: 0;
  background-color: #40b0b1;
  line-height: 1em;
  min-width: 320px;
  text-align: right;
  margin-right: .8em;
  margin-top: .8em;
  border-radius: 4px 0 0 4px;
}

.bl {
  border-radius: 8px 0 0 8px;
}

.br {
  border-radius: 0 8px 8px 0;
}
