.badge {
  display: inline-block;
  padding: 0;
  background-color: #5fe7e8;
  line-height: 1em;
  min-width: 320px;
  text-align: right;
  margin-top: .8em;
  border-radius: 4px 0 0 4px;
}

.bl {
  border-radius: 8px 0 0 8px;
}

.br {
  border-radius: 0 8px 8px 0;
}

.log {
  display: inline-block;
  min-width: 300px;
  vertical-align: top;
  background-color: #fff9aa;
  text-align: center;
}

.duel-wrapper {
  display:flex;
}

.duel-controls {
  align-content: center;
  width: 100%;
}
